.cartButton {
    float:right;
    cursor: pointer;
    font: inherit;
    font-size: 16px;
    border: none;
    background-color: #473c36;
    color: white;
    padding: 0.75rem 2rem; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .cartButton:hover,
  .cartButton:active {
    background-color: #452d20;
  }
  
  .cartButton svg {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
    padding-right:4px;
  }
  
  .cartButton .badge {
    background-color: #442817;
    padding: 2px 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
    vertical-align: middle;
  }
  
  .cartButton:hover .badge,
  .cartButton:active .badge {
    background-color: #ccb17c;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

  .cartButton span{
    vertical-align: middle;
    height: 1.5rem;
  }